* {
	padding: 0;
	margin: 0;
	font-family: 微軟正黑體;
	box-sizing: border-box;
}

/* 導覽列 */
/* nav {
	display: flex;
	justify-content: space-between;
	padding: 15px 20px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
	position: sticky;
	top: 0;
	height: 80px;
	background-color: rgba(255, 255, 255, 1);
	z-index: 1;
}

#nav-arrange {
	display: grid;
	grid-template-columns: 5% 90% 5%;
}

#title {
	text-align: center;
}

nav ol {
	display: inline-block;
}

nav ol li {
	display: inline-block;
	padding: 0 20px;
}

nav ol li a {
	color: black;
	text-decoration: none;
	line-height: 50px;
	font-size: 20px;
}

nav ol li a:hover {
	color: #e6b800;
	text-decoration: none;
} */

#home{
	display: none;
}

nav{
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-nav{
	margin: 0 auto;
	text-align: center;
}

.nav-title{
	font-size: 20px;
	font-weight: 900;
	margin: 0 15px;
	color: #707070;
}

.nav-title:hover{
	color: #e6b800;
	text-decoration: none;
}

/* ＬＯＧＯ */
/* #logo {
	font-family: "Noto Serif TC", serif;
	font-size: 30px;
	font-weight: 900;
	display: inline-block;
}

#logo img {
	width: 80px;
	margin-right: 10px;
} */

.navbar-brand img{
	width: 80px;
	margin-right: 10px;
}

/* 購物車 */
#car {
	display: inline-block;
	font-family: "Noto Serif TC", serif;
	font-size: 24px;
	font-weight: 900;
	border-radius: 5px;
	background-color: #e6b800;
	height: 45px;
	right: 0;
	color: #fff;
	padding: 10px;
	line-height: 22px;
}

/* menu */
/* #menu {
	display: none;
	position: fixed;
	right: 0;
	top: 0;
	padding: 10px;
	cursor: pointer;
	z-index: 1;
}

#menu img {
	width: 80px;
	padding: 20px;
	position: fixed;
	top: 0;
	right: 0;
	cursor: pointer;
}

#menu:active #menu-box {
	right: 0;
}

#menu:hover #menu-box {
	right: 0;
}

#menu #menu-box {
	position: absolute;
	right: -400px;
	top: 0;
	width: 400px;
	height: 100vh;
	background-color: #fff;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

#menu #menu-box ul {
	list-style: none;
}

#menu #menu-box ul li {
	padding: 30px;
}

#menu #menu-box ul li a {
	color: #707070;
	text-decoration: none;
	font-size: 24px;
}

#home {
	background-color: #e6b800;
	display: inline-block;
	width: 80%;
	padding: 10px 20px;
	border-radius: 30px;
	text-align: center;
	color: #fff !important;
} */

/* 輪播圖 */

.carousel-item img {
	height: 700px;
	object-fit: cover;
}

/* 最新消息 */

#card {
	max-width: 1200px;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-gap: 20px;
	/* background-color: gold; */
	margin: 100px auto;
}

#content {
	/* background-color: gray; */
	padding-left: 100px;
}

#active {
	font-weight: bold;
	color: #e6b800;
	padding: 5px;
}

#discount{
	padding: 5px;
}

#discount:hover{
	background-color: #f5f5f5;
}

#content h1 {
	padding: 10px 0;
}
#content table tr td {
	padding: 5px 0;
	font-size: 20px;
}
#content table tr td a {
	text-decoration: none;
	color: #000;
}

#news h1 {
	padding: 10px 0;
	color: #e6b800;
}


#news table tr td {
	padding: 10px 20px 10px 0;
}
#news table tr td a {
	font-size: 18px;
	font-weight: 450;
	text-decoration: none;
	color: #000;
}

#news table tr td a:hover {
	color: #e6b800;
}

#page {
	/*   background: lightblue; */
	max-width: 1200px;
	margin: 100px auto;
	text-align: center;
}

#page table {
	margin: 0 auto;
}

#page #page1 {
	font-weight: bold;
}
#page .page:hover {
	font-weight: bold;
}
#page table tr td {
	padding: 10px 8px;
	font-size: 18px;
}
#page table tr td a {
	text-decoration: none;
	color: #000;
}

/* ＦＯＯＴＥＲ */
footer {
	margin: 30px auto 0px;
	height: 200px;
	padding: 40px 0;
	/* line-height: 100px; */
	background-color: #e6b800;
	color: white;
	text-align: center;
}

/* RWD */
/* 手機 */
@media screen and (max-width: 768px) {
	/* 漢堡健 */
	/* #menu {
		display: block;
	}
	#menu #menu-box {
		width: 300px;
		font-size: 20px;
	}
	#menu #menu-box ul li {
		padding: 20px;
	}
	#menu #menu-box ul li a {
		font-size: 20px;
	}*/

	/* 導覽列 */
	/* nav {
		display: none;
	} */ 

	#home{
		display: block;
	}

	#car{
		display: none;
	}

	#card {
		grid-template-columns: 1fr;
		margin: 0 auto;
		/* background-color:lightgray; */
	}

	#content {
		background-color: #f5f5f5;
		padding: 10px 200px;
		margin: 0 auto;
	}

	#news {
		padding: 0 20%;
	}

	#news table tr {
		display: grid;
		grid-template-columns: 1fr;
		padding: 10px 0;
	}

	#news table tr td {
		padding: 3px 0;
	}
}
/* 平板 */
@media screen and (min-width: 769px) {
	/* 漢堡健 */
	/* #menu {
		display: block;
	} */

	/* 導覽列 */
	/* nav {
		display: none;
	} */

	#home{
		display: block;
	}

	/* 購物車 */
	#car{
		display: none;
	}
}
/* 電腦 */
@media screen and (min-width: 1024px) {
	/* 漢堡健 */
	/* #menu {
		display: none;
	} */

	/* 導覽列 */
	/* nav {
		display: flex;
	} */

	#home{
		display: none;
	}

	/* 購物車 */
	#car{
		display: block;
	}
}